<!DOCTYPE html>
<html>
    <head>
        <title>The Commie Angel</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <!-- Header Image -->
        <div class="container-fluid container-header overflow-hidden">
            <div class="row">
                <div class="col-sm-3">
                    <img src="/Images/Star.png" class="float-left" alt="">
                </div>
                <div class="col-sm-6 header-center">
                    <p>
                        <span class="big-letter">T</span>he <span class="big-letter">C</span>ommie <span class="big-letter">A</span>ngel
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="/Images/Star.png" class="float-right" alt="">
                </div>
            </div>
        </div>

        <!-- NavBar -->
        <ul class="nav nav-pills nav-fill navbar-commie">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leftylinks">Lefty links</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate</a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/Commie_Angel" class="nav-link" target="_blank">Twitter</a>
            </li>
        </ul>