<%- include('../partials/header.ejs') %>

<div class="container-fluid container-content">
    <div class="container-fluid donate-container">
        <% donations.forEach(function(donation){ %>
            <div class="row justify-content-center">
                <a href="<%= donation.URL %>" target="_blank" class="donate-link"><h3><%= donation.title %></h3></a>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>