<%- include('partials/header') %>

<div class="container-fluid container-content">
    <div class="container-fluid donate-container">
        <div class="row justify-content-center">
            <a href="https://venmo.com/" target="_blank" class="donate-link"><h3>Venmo</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 1</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 2</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 3</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 4</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 5</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 6</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 7</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 8</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 9</h3></a>
        </div>
        <div class="row justify-content-center">
            <a href="#" target="_blank" class="donate-link"><h3>Fake URL 10</h3></a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>