<%- include('./partials/header.ejs') %>

<div class="container-fluid container-content ">
    <div class="container-fluid links-container">
        <% links.forEach(function(link){ %>
            <div class="row justify-content-center">
                <a href="<%= link.URL %>" target="_blank" class="link"><h3><%= link.title %></h3></a>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>